{% extends 'main.html' %}
{% block content %}
<table class="table table-striped table-hover">
  <tr>
    <th>#</th>
    <th>Nombres</th>
    <th>Apellidos</th>
    <th>Departamento</th>
    <th></th>
  </tr>
  {% if object_list %}
   {% for worker in object_list %}
   <tr>
     <td>{{ worker.id }}</td>
     <td>{{ worker.firstNames }}</td>
     <td>{{ worker.lastNames }}</td>
     <td>{{ worker.department }}</td>
     <td><a class="btn btn-primary" href="{% url 'worker_view' worker.id  %}">Ver</a></td>
   </tr>
   {% endfor %}
</table>
  {% else %}
     <h1>No hay registros</h1>
  {% endif %}

{% endblock %}
